.about-key{
  .about-desc{
    .key_tables{
      margin-top: 15px;
      .key-row{
        display: flex;
        .key-point{
          width: 39%;
          border: 1px solid #b6b7b9;
          margin: 2px;
          padding: 10px;
          background: $white;
          p{
            margin-bottom: 0px;
          }
        }
        .key-description{
          border: 1px solid #b6b7b9;
          padding: 10px;
          margin: 2px;
          width: 59%;
          background: $white;
          p{
            margin-bottom: 0px;
          }
          ul{
            list-style-type: none;
            padding: 0px;
            
          }
        }
      }
    }
    .key-img-setion{
      margin-top: 30px;
      .key-img{
        margin-bottom: 20px;
        position: relative;
        .key-img-overlay{
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0px;
          left: 0px;
          background: radial-gradient(#8a2a2a00, #2725258a);
        }
      }
    }
    
  }
}