.aboutus-section{
  
  .key-lists{
    ul{
      list-style-type: none;
      padding: 0px;
      li{
        a{
          text-decoration: none;
          color: #333333;
          transition: all ease-in-out .5s;
          &:hover{
            color:#c48701;
            text-decoration: underline;
            transition: all ease-in-out .5s;
          }
        }
        &.first-li{
          margin-bottom: 10px;
          font-size: 20px;
        }
      }
    }
  }
  .about-desc{
    background: $grey;
    .text-desc{
      padding: 20px;
      margin-top: 30px;
      @media screen and (min-width:768px){
        margin-top: 0px;
      }
      .desc-one{
        margin-bottom:40px;
      }
    }
  }
}