.breadcrum-section{
  .bread-menu{
    a{
      color:#333333;
      text-decoration: none;
      &.active{
        color: #a21418;
      }
      
    }
    a,span{
      padding-right: 10px;
    }
  }
}