.footer{
  
  .footer-section{
    background-color:$secondary-color;
    
    .footer-copyright{
      display: none;
      @media screen and (min-width:768px){
        display: flex;
        justify-content: space-between;
        .copyright-text1{
          padding-top: 40px;
          padding-bottom: 20px;
          p{
            color: #FFFFFF;
            a{
              color:#FFFFFF;
              text-decoration: none;
              transition: all ease-in-out .5s;
              &:hover{
                color:#d7b25a;
                transition: all ease-in-out .5s;
              }
            }
          }
        }
      }
      
    }
    .footer-copyright-mb{
      @media screen and (min-width:768px){
        display:none;
      }
      .copyright-text1{
        
          padding-top: 40px;
          padding-bottom: 20px;
          color: #FFFFFF;
          text-align: center;
          p{
            a{
              color:#FFFFFF;
              text-decoration: none;
              transition: all ease-in-out .5s;
              &:hover{
                color:#d7b25a;
                transition: all ease-in-out .5s;
              }
            }
          }
        
      }
    }
    
  }
}