header {
  .header-sticky{
    background: #fbfcfc;
    .top-navbar{
      display: flex;
      justify-content: space-between;
      padding: 30px 0px;
      .navbar-logo{
        img{
          margin-top: 10px;
          width: 190px;
        }
      }
      .search-form{
        display: flex;
        span{
          margin-top: 5px;
          margin-right: 10px;
        }
        .input-group{
          height: 10px;
          input{
            border: none;
            border-radius: 13px;
            position: relative;
          
            button{
              position: absolute;
              right: 0px;
              background-color:$white;
              border-color: $white;
              i{
                color:#333333;
              }
            }
          }
        }
      }
    }
  }
  .navbar-collapse{
    .navbar-nav{
      width: 100%;
      .nav-link{
        width: 100%;
        font-size: 18px;
        padding-left: 10px; 
        color: #FFFFFF; 
        border-right: none;
        text-align: center;
        transition: all ease-in-out .5s;
        &:hover{
          transition: all ease-in-out .5s;
          color:#7e000e;
          
        }
        @media screen and (min-width:768px){
          width: 100%;
          
          
          &:hover{
            
            transition: all ease-in-out .5s;
            color:#7e000e;             
            
            
            
          }
        }
        
        @media screen and (min-width:992px){
          width: 15%;
          font-size:15px;
          border-right: 1px solid #FFFFFF;
          text-align: left;
          &:hover{
            border-right: 1px solid #FFFFFF;
          }
        }
        @media screen and (min-width:1200px){
          font-size: 17px;
        }
        
        &.remove-border{
          border:none;
        }
      }
    }
  }
  .bg-light{
    background-image: linear-gradient(to right, #c48701 , #dfc27c ,#c48701);
    position: relative;
    .btn-class{
      width: 100%;
      position: relative;
      display: block;
      height: 40px;
      @media screen and (min-width:992px){
        display: none;
      }  
    }
    .navbar-toggler{
      position: absolute;
      right: 0px;
      border:none;
      &.collapsed{
        border: none;
        outline: none;
      }  
    }
    button:focus {
      
      outline: none;
    }
    .shape{
      position: absolute;
      top: 0px;
      width: 24%;
      height: 100%;
      right: 0px;
      border-top: 56px solid #7e000e;
      border-left: 71px solid transparent;
      display: none;
      @media screen and (min-width:992px){
        display: block;
        width: 18%;  
        border-top: 54px solid #7e000e;
      }
      @media screen and (min-width:1200px){
        border-top: 57px solid #7e000e;
      }
    }
  }
  
}  