.home-page-link{
  padding-top: 0px;
  padding-bottom:30px;
  @media screen and (min-width:1200px){
    padding-top: 50px;
    padding-bottom:50px;
  }
  .container {
    .row{
      .col-md-3{
        .link-section-1{
          border-right:0px;
          margin-top: 20px;
          @media screen and (min-width:768px){
            margin-top: 20px;
            
          }
          @media screen and (min-width:992px){
            border-right: 1px solid #bcbec0 ;
          }
          
          &.last-column{
            border-right: 0px;
          }
          h5,ul{
            color: #58595b;
          }
          ul{
            list-style-type: none;
            padding: 0px;
            margin-top: 15px;
            li{
              a,.onhover-effect{
                color: #58595b;
                text-decoration: none;
                transition: all ease-in-out .5s;
                &:hover{
                  color:#c48701;
                  text-decoration: underline;
                  transition: all ease-in-out .5s;
                }
              }
            }
          }
        }  
      }
      
    }
  }
}
.home-page-img{
  .client-slide{    
    .slick-dots li button:before {      
      font-size: 45px; 
      top: -33px;
      // color:#d39e00;
      @media screen and (min-width:768px){
        top: -50px;
      }
    }
    .slick-dots li.slick-active button:before {
      opacity: 1;
      color: #7e000e;
    }
    
  }  
}