.operation-img-section{
  .operation-cart{
    position: relative;
    .cart-overlay{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      background: radial-gradient(#8a2a2a00, #2725258a);
    }
  }
}