.ourbrand-wrap{
  margin-top: 30px;
  .brand-name{
    font-size: 17px;
    @media screen and (min-width:992px){
      font-size: 20px;
    }
  }
  .brand-img{
    text-align: center;    
  }
  .brand-description{
    margin-top: 23px;
    text-align: center;
    @media screen and (min-width:768px){
      margin-top: 0px;
      text-align: left;
    }
  }
}
