.about-desc{
  .text-desc{
    .distribution-desc{
      margin-top: 50px;
      @media screen and (min-width:768px){
        margin-top: 0px;
      }
      
      .desc-column{
        .description{
          margin-top: 20px;
          margin-bottom:50px;
          @media screen and (min-width:992px){
            margin-bottom:0px;
            margin-top: 50px;
          }
          h5{
            font-size: 16px;
          }
          ul{
            padding: 0px;
            li{
              margin-bottom: 5px;
              span{
                width: 50%;
                font-size: 14px;
                @media screen and (min-width:1200px){
                  font-size:16px;
                }
              }
            }
          }
        }
        .feature-img{
          margin-bottom: 5px;
          position: relative;
          .img-overlay{
            position: absolute;
            top: 0px;
            width: 100%;
            height: 100%;
            background: radial-gradient(#8a2a2a00, #2725258a);
          }
        }
        
      }
    }
  }
}