doctype html
html(lang='en')
	include ./components/_head.pug
	body
		header    
			<!-- header top -->
			.top-nav.header-sticky
				.container
					.row
						.col-md-12
							.top-navbar
								a(href="index.html").navbar-logo
									img(src="./assets/images/uploads/logo.jpg", alt="")  
									
								//- .search-form
								//-   span Search...
								//-   .input-group
								//-     input(type='text',)
								//-     .input-group-append
								//-       button.btn.btn-secondary(type='button')
								//-         i.fa.fa-search
			nav.navbar.navbar-expand-lg.navbar-light.bg-light
				.container
					.btn-class
						button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
							span.navbar-toggler-icon
					#navbarNavAltMarkup.collapse.navbar-collapse
						.navbar-nav
							a.nav-item.nav-link(href='index.html')
								| Home 
								span.sr-only (current)
							a.nav-item.nav-link.active-menu(href='about.html') About Us
							a.nav-item.nav-link(href='ourbrand.html') Our Brands
							a.nav-item.nav-link(href='ouroperation.html') Our Operations
							a.nav-item.nav-link(href='career.html') Career
							a.nav-item.nav-link.remove-border(href='contact.html') Contact Us 
						.shape
		main
			include ./components/_banner.pug
			section.breadcrum-section.pb-0
				.container 
					.bread-menu
						a(href="index.html").bold Home 
						span >
						a(href="#").bold About Us
						span >
						a.active(href="#").bold About M&GH International Limited
			section.aboutus-section
				.container
					.row 
						.col-md-3
							
							.key-lists 
								
								ul
									li.first-li 
										a(href="about.html").bold About Us
									li 
										a(href="#").bold M&GH International Limited
									li 
										a(href="about-keyfacts.html") Key Facts
									li
										a(href="about-organizationchart.html") Organizational Structure
						.col-md-9 
							.about-desc 
								img.w-100(src="./assets/images/uploads/aboutus-banner.jpg", alt="")
								.text-desc
									.desc-one 
										h4.about.bold M&GH International Limited
										p M&GH International Limited (Myawaddy & Golden Hill International Limited) is one of the leading tobacco manufacturing and distribution companies in Myanmar. M&GH International Limited was established in 2009 in joint venture with Myawaddy Trading Limited. In 2012, M&GH International Limited parent company acquired the share-portion belonging to Myawaddy Trading Limited, thus establishing M&GH International Limited as a fully owned and operated, independent company.
									.desc-one 
										h5.bold Mission
										p To become one of the leading players of tobacco industry in Myanmar through integration of manufacturing Global Quality Products and establishing the best Distribution Network in line with International standard.
										
			
			include ./components/_footer.pug
