doctype html
html(lang='en')
	include ./components/_head.pug
	body
		header    
			<!-- header top -->
			.top-nav.header-sticky
				.container
					.row
						.col-md-12
							.top-navbar
								a(href="index.html").navbar-logo
									img(src="./assets/images/uploads/logo.jpg", alt="")  
									
								//- .search-form
								//-   span Search...
								//-   .input-group
								//-     input(type='text',)
								//-     .input-group-append
								//-       button.btn.btn-secondary(type='button')
								//-         i.fa.fa-search
			nav.navbar.navbar-expand-lg.navbar-light.bg-light
				.container
					.btn-class
						button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
							span.navbar-toggler-icon
					#navbarNavAltMarkup.collapse.navbar-collapse
						.navbar-nav
							a.nav-item.nav-link(href='index.html')
								| Home 
								span.sr-only (current)
							a.nav-item.nav-link.active-menu(href='about.html') About Us
							a.nav-item.nav-link(href='ourbrand.html') Our Brands
							a.nav-item.nav-link(href='ouroperation.html') Our Operations
							a.nav-item.nav-link(href='career.html') Career
							a.nav-item.nav-link.remove-border(href='contact.html') Contact Us 
						.shape 
		main
			include ./components/_banner.pug
			section.breadcrum-section.pb-0
				.container 
					.bread-menu
						a(href="index.html").bold Home 
						span >
						a(href="#").bold About Us
						span >
						a.active(href="#").bold Key Facts
			section.aboutus-section.about-key
				.container 
					.row 
						.col-md-3
							
							.key-lists 
								
								ul
									li.first-li 
										a(href="about.html").bold About Us
									li
										a(href="about.html") M&GH International Limited
									li 
										a(href="about-keyfacts.html").bold Key Facts
									li
										a(href="about-organizationchart.html") Organizational Structure
						.col-md-9 
							.about-desc 
								img.w-100(src="./assets/images/uploads/keyfact.jpg", alt="")
								.text-desc
									.row 
										.col-md-8 
											h5.title.bold.about Key Facts 
											div.key_tables
												.key-row 
													.key-point
														p Industry
													.key-description
														p Tobacco
												.key-row 
													.key-point
														p Date of Establishment
													.key-description
														p February 12,2009
												.key-row 
													.key-point
														p Area Where We Operate
													.key-description
														p Countrywide , Myanmar
												.key-row 
													.key-point
														p Number of Employees
													.key-description
														p Over 200
												.key-row 
													.key-point
														p Managing Director
													.key-description
														p Mr.Nyi Nyi Kyaw
												.key-row 
													.key-point
														p Factory Location
													.key-description
														p No.49, Maezi Gone Street, Hlaing Township,Yangon, Myanmar.
												.key-row 
													.key-point
														p Factory Area
													.key-description
														p 7.218 Acres
												.key-row 
													.key-point
														p Distribution Network
													.key-description
														p 8 Sales Depots in Major Citites and Towns
												.key-row 
													.key-point
														p Other Businesses
													.key-description
														ul 
															li - General Trading
															li - Distribution Services


										.col-md-4
											.key-img-setion
												.key-img 	
													img.w-100(src="./assets/images/uploads/key-fact.jpg", alt="")
													.key-img-overlay
												.key-img 	
													img.w-100(src="./assets/images/uploads/key-img-2.jpg", alt="")
													.key-img-overlay
			
			include ./components/_footer.pug
