doctype html
html(lang='en')
	include ./components/_head.pug
	body
		header    
			<!-- header top -->
			.top-nav.header-sticky
				.container
					.row
						.col-md-12
							.top-navbar
								a(href="index.html").navbar-logo
									img(src="./assets/images/uploads/logo.jpg", alt="")  
									
								//- .search-form
								//-   span Search...
								//-   .input-group
								//-     input(type='text',)
								//-     .input-group-append
								//-       button.btn.btn-secondary(type='button')
								//-         i.fa.fa-search
			nav.navbar.navbar-expand-lg.navbar-light.bg-light
				.container
					.btn-class
						button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
							span.navbar-toggler-icon
					#navbarNavAltMarkup.collapse.navbar-collapse
						.navbar-nav
							a.nav-item.nav-link(href='index.html')
								| Home 
								span.sr-only (current)
							a.nav-item.nav-link(href='about.html') About Us
							a.nav-item.nav-link(href='ourbrand.html') Our Brands
							a.nav-item.nav-link(href='ouroperation.html') Our Operations
							a.nav-item.nav-link.active-menu(href='career.html') Career
							a.nav-item.nav-link.remove-border(href='contact.html') Contact Us 
						.shape
		main
			include ./components/_banner.pug
			section.breadcrum-section.pb-0
				.container 
					.bread-menu
						a(href="index.html").bold Home 
						span >
						
						
						a.active(href="#").bold Career
			section.aboutus-section.about-key
				.container 
					.row 
						.col-md-3
							
							.key-lists 
								
								ul
									li.first-li 
										a(href="#").bold Career
									
						.col-md-9 
							.about-desc 
								img.w-100(src="./assets/images/uploads/career-banner.jpg", alt="")
								.text-desc
									.container
										h5.title.bold.about.mb-4.mt-3 Career
										p We believe people is the greatest assets of our organization

										p We encourage our people to enhance their professional skill through proper training and coaching system for their continuous development.  
										p We welcome independent, passionate and result-oriented people.

										p For those who are interested to work with us, please contact
										p Email : recuritment@mnghinternational.com   

								.container-fluid.operation-img-section
									.row
										.col-md-4.p-0
											.operation-cart
												img.w-100(src="./assets/images/uploads/career-1.jpg", alt="")
												.cart-overlay
										.col-md-4.p-0
											.operation-cart
												img.w-100(src="./assets/images/uploads/career-2.jpg", alt="")
												.cart-overlay
										.col-md-4.p-0
											.operation-cart
												img.w-100(src="./assets/images/uploads/career-3.jpg", alt="")
												.cart-overlay
										
																		
														
							
			include ./components/_footer.pug
