doctype html
html(lang='en')
	include ./components/_head.pug
	body
		
		header    
			<!-- header top -->
			.top-nav.header-sticky
				.container
					.row
						.col-md-12
							.top-navbar
								a(href="index.html").navbar-logo
									img(src="./assets/images/uploads/logo.jpg", alt="")  
									
								//- .search-form
								//-   span Search...
								//-   .input-group
								//-     input(type='text',)
								//-     .input-group-append
								//-       button.btn.btn-secondary(type='button')
								//-         i.fa.fa-search
			nav.navbar.navbar-expand-lg.navbar-light.bg-light
				.container
					.btn-class
						button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
							span.navbar-toggler-icon
					#navbarNavAltMarkup.collapse.navbar-collapse
						.navbar-nav
							a.nav-item.nav-link(href='index.html')
								| Home 
								span.sr-only (current)
							a.nav-item.nav-link(href='about.html') About Us
							a.nav-item.nav-link(href='ourbrand.html') Our Brands
							a.nav-item.nav-link(href='ouroperation.html') Our Operations
							a.nav-item.nav-link(href='career.html') Career
							a.nav-item.nav-link.remove-border.active-menu(href='contact.html') Contact Us 
						.shape
		main
			include ./components/_banner.pug
			section.breadcrum-section.pb-0
				.container 
					.bread-menu
						a(href="index.html").bold Home 
						span >
						
						
						a.active(href="#").bold Contact Us
			section.aboutus-section.about-key
				.container 
					.row 
						.col-md-3
							
							.key-lists 
								
								ul
									li.first-li 
										a(href="#").bold Contact Us
									
						.col-md-9 
							.about-desc 
								img.w-100(src="./assets/images/uploads/contact-banner.jpg", alt="")
								.text-desc
									.container
										h5.title.bold.about Conact Us
										.career-detail-description
											p Mr.Nyi Nyi Kyaw
											p Managing Director
											p.bold M&GH International Limited
											p No. 49, Maezi Gone Street, Hlaing Township, Yangon, Myanmar.
											p Tel: 
												a(href="tel:+959 5033377") +959 5033377 ,
												a(href="tel:+959 5096988") +959 5096988 
											p Email: 
												a(href="mailto:nyinyikyaw@mnghinternational.com") nyinyikyaw@mnghinternational.com
												
										
																		
														
							
			include ./components/_footer.pug
