doctype html
html(lang='en')
	include ./components/_head.pug
	body
		header    
			<!-- header top -->
			.top-nav.header-sticky
				.container
					.row
						.col-md-12
							.top-navbar
								a(href="index.html").navbar-logo
									img(src="./assets/images/uploads/logo.jpg", alt="")  
									
								//- .search-form
								//-   span Search...
								//-   .input-group
								//-     input(type='text',)
								//-     .input-group-append
								//-       button.btn.btn-secondary(type='button')
								//-         i.fa.fa-search
			nav.navbar.navbar-expand-lg.navbar-light.bg-light
				.container
					.btn-class
						button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
							span.navbar-toggler-icon
					#navbarNavAltMarkup.collapse.navbar-collapse
						.navbar-nav
							a.nav-item.nav-link.active-menu(href='index.html')
								| Home 
								span.sr-only (current)
							a.nav-item.nav-link(href='about.html') About Us
							a.nav-item.nav-link(href='ourbrand.html') Our Brands
							a.nav-item.nav-link(href='ouroperation.html') Our Operations
							a.nav-item.nav-link(href='career.html') Career
							a.nav-item.nav-link.remove-border(href='contact.html') Contact Us 
						.shape           
		
  
			
		main
			.section.home-page-img
				.client-slide
					img.w-100(src="./assets/images/uploads/home-banner-2.jpg", alt="")
					img.w-100(src="./assets/images/uploads/home-banner-1.jpg", alt="")
					img.w-100(src="./assets/images/uploads/home-banner.jpg", alt="")
			.section.home-page-link
				.container  
					.row 
						.col-md-3
							.link-section-1
								h5.bold About Us
								ul 
									li 
										a(href="about.html") M&GH International Limited
									li 
										a(href="about-keyfacts.html") Key Facts
									li 
										a(href="about-organizationchart.html") Organizational Structure
								
						.col-md-3
							.link-section-1
								h5.bold Our Brands
								ul 
									li 
										a(href="ourbrand.html") Red & Blue
									li 
										a(href="ourbrand.html") Karaweik
									li 
										a(href="ourbrand.html") Villa
						.col-md-3
							.link-section-1
								h5.bold Our Operations
								ul 
									li 
										a(href="ouroperation.html") Our Products
									li 
										a(href="ourdistribution.html") Our Distribution Network
									
						.col-md-3
							.link-section-1.last-column
								
								ul
									li 
										a(href="career.html") 
											h5.onhover-effect.bold Career 
									li.mt-3 
										a(href="contact.html")
											h5.onhover-effect.bold Contact Us
   
			
			include ./components/_footer.pug
