doctype html
html(lang='en')
	include ./components/_head.pug
	
	body
		header    
			<!-- header top -->
			.top-nav.header-sticky
				.container
					.row
						.col-md-12
							.top-navbar
								a(href="index.html").navbar-logo
									img(src="./assets/images/uploads/logo.jpg", alt="")  
									
								//- .search-form
								//-   span Search...
								//-   .input-group
								//-     input(type='text',)
								//-     .input-group-append
								//-       button.btn.btn-secondary(type='button')
								//-         i.fa.fa-search
			nav.navbar.navbar-expand-lg.navbar-light.bg-light
				.container
					.btn-class
						button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
							span.navbar-toggler-icon
					#navbarNavAltMarkup.collapse.navbar-collapse
						.navbar-nav
							a.nav-item.nav-link(href='index.html')
								| Home 
								span.sr-only (current)
							a.nav-item.nav-link(href='about.html') About Us
							a.nav-item.nav-link.active-menu(href='ourbrand.html') Our Brands
							a.nav-item.nav-link(href='ouroperation.html') Our Operations
							a.nav-item.nav-link(href='career.html') Career
							a.nav-item.nav-link.remove-border(href='contact.html') Contact Us 
						.shape 
		main
			include ./components/_banner.pug
			section.breadcrum-section.pb-0
				.container 
					.bread-menu
						a(href="index.html").bold Home 
						span >
						a(href="#").bold About Us
						span >
						a.active(href="#").bold Key Facts
			section.aboutus-section.about-key
				.container 
					.row 
						.col-md-3
							
							.key-lists 
								
								ul
									li.first-li 
										a(href="#").bold Our Brands
									li
										a(href="#").bold Red & Blues
									li 
										a(href="#") Karaweik
									li
										a(href="#") Villa
						.col-md-9 
							.about-desc 
								//- img.w-100(src="./assets/images/uploads/organization-meeting.jpg", alt="")
								.text-desc
									h5.about.bold Our Brands

									.row.ourbrand-wrap

										.col-md-3
											h5.about.text-center.brand-name Red & Blue
										.col-md-9
										.col-md-3
											.brand-img
												img.img-fluid(src="./assets/images/uploads/productimg-1.jpg", alt="")
										.col-md-9
											.brand-description
												p Red & Blue King Size Cigarette introduced in September 2009.  Within a short period of time, Red & Blue gained the reputation of quality and freshness and currently standing at third position in Myanmar tobacco market.
									.row.ourbrand-wrap

										.col-md-3
											h5.about.text-center.brand-name Karaweik
										.col-md-9
										.col-md-3
											.brand-img
												img.img-fluid(src="./assets/images/uploads/productimg-2.jpg", alt="")
										.col-md-9
											.brand-description
												p Karaweik Cigarette was launched in September 2010.  Over a period of time, Karaweik is standing as one of the leading brands in it’s own market segment and become fifth position in Myanmar tobacco market.
									.row.ourbrand-wrap

										.col-md-3
											h5.about.text-center.brand-name Villa
										.col-md-9
										.col-md-3
											.brand-img
												img.img-fluid(src="./assets/images/uploads/productimg-3.jpg", alt="")
										.col-md-9
											.brand-description
												p The Villa brand was launched in November 2009, targeting “value- for-money” segment.  Villa is for those  who need  a cigarette that reflect style while enjoying quality product of M&GH International Limited.
			
			include ./components/_footer.pug
