doctype html
html(lang='en')
	include ./components/_head.pug
	body
		header    
			<!-- header top -->
			.top-nav.header-sticky
				.container
					.row
						.col-md-12
							.top-navbar
								a(href="index.html").navbar-logo
									img(src="./assets/images/uploads/logo.jpg", alt="")  
									
								//- .search-form
								//-   span Search...
								//-   .input-group
								//-     input(type='text',)
								//-     .input-group-append
								//-       button.btn.btn-secondary(type='button')
								//-         i.fa.fa-search
			nav.navbar.navbar-expand-lg.navbar-light.bg-light
				.container
					.btn-class
						button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
							span.navbar-toggler-icon
					#navbarNavAltMarkup.collapse.navbar-collapse
						.navbar-nav
							a.nav-item.nav-link(href='index.html')
								| Home 
								span.sr-only (current)
							a.nav-item.nav-link(href='about.html') About Us
							a.nav-item.nav-link(href='ourbrand.html') Our Brands
							a.nav-item.nav-link.active-menu(href='ouroperation.html') Our Operations
							a.nav-item.nav-link(href='career.html') Career
							a.nav-item.nav-link.remove-border(href='contact.html') Contact Us 
						.shape
		main
			include ./components/_banner.pug
			section.breadcrum-section.pb-0
				.container 
					.bread-menu
						a(href="index.html").bold Home 
						span >
						a(href="#").bold Our Operations
						span >
						a.active(href="#").bold Our Distribution Network
			section.aboutus-section.about-key
				.container 
					.row 
						.col-md-3
							
							.key-lists 
								
								ul
									li.first-li 
										a(href="#").bold Our Operations 
									 
									li 
										a(href="ouroperation.html") Our Products
									li
										a(href="#").bold Our Distribution Network
						.col-md-9 
							.about-desc 
								img.w-100(src="./assets/images/uploads/distribution-banner.jpg", alt="")
								.text-desc
									.row
										.col-md-4
											.map
												img.w-100(src="./assets/images/uploads/distribution-map.jpg", alt="")
												
										.col-md-8
											.distribution-desc
												h5.title.bold.about Our Distribution Network
												p Our expert sales and distribution team, with in-depth market knowledge, aided by strategically located 18 sales depots around the country, facilitate the efficient distribution service to our customers.
												.desc-column
													.row
														.col-lg-6
															.description
																h5.title.bold.about Locations of Our Sales Depots
																ul 
																	li.d-flex 
																		span - Yangon
																		
																	li.d-flex 
																		span - Nay Pyi Taw
																		 
																	li.d-flex 
																		span - Mandalay
																		
																	li.d-flex 
																		span - Monywa

																	li.d-flex 
																		span - Lashio

																	li.d-flex 
																		span - Taunggyi

																	li.d-flex 
																		span - Mawlamying
																		
																	li.d-flex 
																		span - Sittwe
																	
															
														.col-lg-6
															.feature-img
																img.w-100(src="./assets/images/uploads/distri-img-3.jpg", alt="")
																.img-overlay
															.feature-img
																img.w-100(src="./assets/images/uploads/distri-img-1.jpg", alt="")
																.img-overlay
															.feature-img
																img.w-100(src="./assets/images/uploads/distri-img-2.jpg", alt="")
																.img-overlay

										
			
			include ./components/_footer.pug
