doctype html
html(lang='en')
	include ./components/_head.pug
	body
		header    
			<!-- header top -->
			.top-nav.header-sticky
				.container
					.row
						.col-md-12
							.top-navbar
								a(href="index.html").navbar-logo
									img(src="./assets/images/uploads/logo.jpg", alt="")  
									
								//- .search-form
								//-   span Search...
								//-   .input-group
								//-     input(type='text',)
								//-     .input-group-append
								//-       button.btn.btn-secondary(type='button')
								//-         i.fa.fa-search
			nav.navbar.navbar-expand-lg.navbar-light.bg-light
				.container
					.btn-class
						button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
							span.navbar-toggler-icon
					#navbarNavAltMarkup.collapse.navbar-collapse
						.navbar-nav
							a.nav-item.nav-link(href='index.html')
								| Home 
								span.sr-only (current)
							a.nav-item.nav-link(href='about.html') About Us
							a.nav-item.nav-link(href='ourbrand.html') Our Brands
							a.nav-item.nav-link.active-menu(href='ouroperation.html') Our Operations
							a.nav-item.nav-link(href='career.html') Career
							a.nav-item.nav-link.remove-border(href='contact.html') Contact Us 
						.shape
		main
			include ./components/_banner.pug
			section.breadcrum-section.pb-0
				.container 
					.bread-menu
						a(href="index.html").bold Home 
						span >
						a(href="#").bold Our Operations
						span >
						a.active(href="#").bold Our Products
			section.aboutus-section.about-key
				.container 
					.row 
						.col-md-3
							
							.key-lists 
								
								ul
									li.first-li 
										a(href="#").bold Our Operations
									li
										a(href="#").bold Our Products
									
									li
										a(href="ourdistribution.html") Our Distribution Netwrok
						.col-md-9 
							.about-desc 
								img.w-100(src="./assets/images/uploads/product-banner.jpg", alt="")
								.text-desc
									.container
										h5.title.bold.about Our Products
										p Our products are results of  extensive market research and manufactured under most stringent quality control processes with state-of-art manufacturing process. 
										p Our primary and secondary manufacturing facilities are fitted with high-tech equipments, ensuring  quality product  for each brand.
										p Needless to say that selected raw materials from oversea are also required to pass international standard quality control  process.  
										p Being a socially responsible company, messages of ‘Health Warning’ and ‘Preventing Sales To Minors’  are printed in local language on each and every pack.
								.container-fluid.operation-img-section
									.row
										.col-md-3.p-0
											.operation-cart
												img.w-100(src="./assets/images/uploads/ope-img-1.jpg", alt="")
												.cart-overlay
										.col-md-3.p-0
											.operation-cart
												img.w-100(src="./assets/images/uploads/ope-img-3.jpg", alt="")
												.cart-overlay
										.col-md-3.p-0
											.operation-cart
												img.w-100(src="./assets/images/uploads/ope-img-4.jpg", alt="")
												.cart-overlay
										.col-md-3.p-0
											.operation-cart
												img.w-100(src="./assets/images/uploads/ope-img-2.jpg", alt="")
												.cart-overlay
																		
														
							
			include ./components/_footer.pug
