footer.footer
             
  .footer-section
    .container
      .footer-copyright
        .copyright-text1
          p Copyright © <script>new Date().getFullYear()>2010&&document.write(new Date().getFullYear());</script>  M&GH International Limited
        .copyright-text1.d-flex
          p All Rights Reserved.
          p Powered by 
            a.ml-0(href="https://innovixdigital.com/", target="_blank") Innovix Digital.
      .footer-copyright-mb
        .copyright-text1
          p.mb-0 Copyright © <script>new Date().getFullYear()>2010&&document.write(new Date().getFullYear());</script>  M&GH International Limited.All Rights Reserved.
          p Powered by 
            a.ml-0(href="https://innovixdigital.com/", target="_blank") Innovix Digital.
          



      
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
script(src="./plugin/plugin.min.js")
script(src="./js/script.js")

script(src='https://polyfill.io/v3/polyfill.min.js?features=default')
script(defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC5i0mt34lAKRc2J59PlC-M9T6TPyk817g&callback=InitMap')


<script src="https://kit.fontawesome.com/0fdd460947.js" crossorigin="anonymous"></script>
