header    
  <!-- header top -->
  .top-nav.header-sticky
    .container
      .row
        .col-md-12
          .top-navbar
            .navbar-logo
              img(src="./assets/images/uploads/logo.jpg", alt="")  
              
            //- .search-form
            //-   span Search...
            //-   .input-group
            //-     input(type='text',)
            //-     .input-group-append
            //-       button.btn.btn-secondary(type='button')
            //-         i.fa.fa-search
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container
      .btn-class
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
      #navbarNavAltMarkup.collapse.navbar-collapse
        .navbar-nav
          a.nav-item.nav-link(href='index.html')
            | Home 
            span.sr-only (current)
          a.nav-item.nav-link(href='about.html') About Us
          a.nav-item.nav-link(href='ourbrand.html') Our Brands
          a.nav-item.nav-link(href='ouroperation.html') Our Operations
          a.nav-item.nav-link(href='career.html') Career
          a.nav-item.nav-link.remove-border(href='contact.html') Contact Us 
        .shape         
  
  