head
	
	// meta tags
	meta(name='keywords', content='M&GH International Limited')
	meta(name='description', content='M&GH International Limited (Myawaddy & Golden Hill International Limited) is one of the leading tobacco manufacturing and distribution companies in Myanmar.')
	meta(property='og:title', content='M&GH International Limited')
	meta(property='og:site_name', content='M&GH International Limited')
	meta(property='og:description', content='M&GH International Limited (Myawaddy & Golden Hill International Limited) is one of the leading tobacco manufacturing and distribution companies in Myanmar.')
	meta(property='og:type', content='website')
	meta(property='og:image', content='./assets/images/uploads/logo.jpg')
	meta(property='og:url', content='http://mn.innovix-solutions.net/old/distribution.html')
	meta(name='twitter:card', content='summary_large_image')
	meta(name='twitter:description', content='Take a look at Myanmar’s most famous landmarks on these most popular choices of our travellers’ and start chasing your dreams.')
	meta(name='twitter:title', content='Great Memories Travel & Tours Co.,Ltd')
	// end of meta tags
	title M&GH
	link(rel="icon" href="./assets/images/icons/favicon.png")
	link(rel="stylesheet", href="./plugin/plugin.min.css")
	link(rel="stylesheet", href="./style/style.css")
	<link href="https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Poppins:wght@600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/animate.css">